.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as necessary */
  }
  
  .pie {
    width: 400px;   /* Width of the chart container */
    height: 400px;  /* Height of the chart container */
  }
  